/*Cores usadas: #2980B9 #6DD5FA #FFFFFF*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    /* padding: 20px; */
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header {
    background-image: linear-gradient(to right bottom,#297fb9cc,#6dd4facc),url(../images/hero.jpg);
    background-size: cover;
    height: 95vh;
    width: 100%;
    display: flex;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%) /*Corte do header*/
}

.logo-box {
    display: flex;
    width: 70vw;
    height: 120px;
}
.logo-top {
    width: 120px;
    height: 60px;
    margin: 10px 5px 0;
}

.menu-box {
    display: flex;
    flex-direction: row;
    width: 40vw;
    height: 100px;
    align-content: flex-end;
}

.menu-list {
    display: flex;
    flex-direction: row;
}
.menu-list li{
    padding: 1.2em;
    color: #ccc;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.8;
    list-style: none;
}


.box-text {
    width: 100%;
    height: auto;
    margin-top: 20%;
    position: absolute;
}

.box-text p{
    font-size: 3em;
    text-align: center;
    color: #ecf0f1;
    letter-spacing: 6;
}
.btn-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
    margin-top: -17%;
}

