/*Cores usadas: #2980B9 #6DD5FA #FFFFFF*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    
    color: white;
    /* padding: 20px; */
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header {
    background-image: linear-gradient(to right bottom,#297fb9cc,#6dd4facc),url(../images/hero.jpg);
    background-size: cover;
    height: 95vh;
    width: 100%;
    display: flex;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%) /*Corte do header*/
}

.logo-box {
    display: flex;
    width: 20vw;
    height: 120px;
}
.logo-top {
    width: 100px;
    height: 60px;
    margin-left: 40px;
    margin-top: 15px;
}

.menu-box {
    display: flex;
    width: 60w;
    height: 50px;
    align-content: flex-end;
    margin-top: 6vh;
    margin-left: 35%;
}

.main-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main-nav li {
    padding: 15px;
    list-style: none;
    
}
.main-nav li a:link, .main-nav li a:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    border-bottom: 2px solid transparent;
    transition: border-bottom.2s;
    padding: 8px 0;
}
.main-nav li a:hover, .main-nav li a:active {
    border-bottom: 2px solid white;
    
}

.box-text {
    width: 100%;
    height: auto;
    margin-top: 15%;
    position: absolute;
}

.box-text p{
    font-size: 3em;
    text-align: left;
    color: #ecf0f1;
    letter-spacing: 3;
    margin-left: 60px;
}

.btn-box {
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: row;
}